body {
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 20px;
  color: #000;
  background-color: #f1f1f1;
}

*.prompt::before {
  color: #1874cd;
  font-style: normal;
  content: "Fsq:~$ ";
}

.pulsate {
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    -webkit-transform: opacity 0.2;
    transform: opacity 0.2;
    -moz-transform: opacity 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: opacity 0.2;
    transform: opacity 0.2;
    -moz-transform: opacity 0.2;
  }
}

p {
  line-height: 1.5em;
}
